@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* MAIN STYLE*/
html{
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #373737;

    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-container{
    max-width: 1920px;
    margin: 0 auto;
}

#main-container span{
    width: 137px;
    height: 42px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    color: #2E363E;
    margin-left: 10px;
}

/* HOME */

.content_home{
    background-image: url('./images/top_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.navbar_links{
    max-width: 1080px;
    margin: auto;
}

.navbar_links ul{
    text-align: right;
    margin: 0;
    padding: 50px 30px;
}

.navbar_links ul li{
    float: none;
    display: inline-block;
}

.navbar_links ul li:nth-child(1), .navbar_links ul li:nth-child(2){
    float: left;
}

.navbar_links ul li a{
    margin-right: 28px;
    margin-left: 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar_logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.navbar_logo a{
    font-size: 46px;
    color: white;
}

.home_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-decoration: none;
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: rgba(176, 201, 217, 0.71) 0px 0px 11px;
    width: 90%;
}

.home_middle span{
    font-size: 24px;
    display: flex;
    flex-flow: column;
    text-transform: lowercase;
}

.home_middle_button{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: white;
    border-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 30px;
}

.home_bottom{
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.home_bottom_links{
    font-size: 36px;
    color: white;
    margin: 9px;
}

/* ABOUT */

.content_about_first{
    padding-top: 9%;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    background-color: #f5f6f7;
}

.content_about_second{
    background-color: white;
    padding-top: 9%;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
}

.about_first_left, 
.about_second_left, 
.about_first_right,
.about_second_right{
    width: 50%;
}

.about_first_left_header, 
.about_second_right_header{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.about_first_left_description, 
.about_second_right_description{
    margin-top: 27px;
    margin-bottom: 36px;
}

.about_first_left_button,
.about_second_right_button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: white;
    border-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.about_first_right img {
    float: right;
    pointer-events: none;
}

.about_second_left {
    float: left;
    font-size: 0;
    pointer-events: none;
}

/* PROJECTS */

.content_projects {
    padding-top: 5%;
    padding-right: 9%;
    padding-left: 9%;
    padding-bottom: 9%;
    display: flex;
    background-color: #f5f6f7;
}

.projects_left{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    text-align: center;
}

.projects_left_logo {
    margin-top: 20%;
    font-size: 46px;
    height: 50px;
}

.projects_left_header {
    margin-top: 9px;
    margin-bottom: 10px;

    font-size: 24px;
    text-transform: uppercase;
    color: #373737;
    font-weight: bold;
}

.projects_left_description {
    padding-left: 25%;
    padding-right: 25%;
}

.projects_right{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-left: 25px;
}

.projects_right_buttons {
    font-size: 36px;
    margin-left: 90%;
    display: flex;
}

.projects_right_button_left,
.projects_right_button_right {
    cursor: pointer;
    height: 100%;
}

.projects_right_scrollblock{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.projects_right_scrollblock::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, #f5f6f7, transparent);
}

.projects_right_scrollblock::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, #f5f6f7, transparent);
}

.projects_right_scrollblock_scroll{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: center;
    overflow:hidden;
    position: relative;
    scroll-behavior: smooth;
}

.projects_right_scrollblock_scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollblock_images {
    min-width: 500px;
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden;
}

.scrollblock_images img{
    width: 100%;
    height: 100%;
    font-size: 0;
    pointer-events: none;
}

/* COMMUNITY */

.content_community{
    background-image: url('./images/background_community.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.community_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.community_middle_header{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    margin: 2vh 0;
    text-align: center;
    font-weight: bold;
    text-shadow: rgba(176, 201, 217, 0.71) 0px 0px 11px;
}

.community_middle_input {
    display: flex;
}

.community_middle_input_field{
    width: 350px;
    height: 65px;
    border-radius: 4px 0 0 4px;
    border-color: #f5f6f7;
    color: #373737;
    background-color: #f5f6f7;
    border-style: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
}

.community_middle_input_button{
    width: 70px;
    border-radius: 0 4px 4px 0;
    color: white;
    border-style: none;
    text-transform: uppercase;
    font-size: 27px;
    cursor: pointer;
}

.community_middle_input_button ion-icon{
    height: 100%;
}

/* DOWNLOAD */

.content_dowload{
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 5%;
    padding-bottom: 6%;
    display: flex;
    flex-flow: column;
    background-color: #f5f6f7;
    align-items: center;
}

.download_text{
    text-align: center;
}

.download_text_header{
    font-size: 24px;
    text-transform: uppercase;
    color: #373737;
    font-weight: bold;
}

.download_text_description{
    padding-left: 10%;
    padding-right: 10%;
}

.download_buttons{
    margin-top: 2.5%;
}

.button_appstore, 
.button_playstore{
    display: inline-flex;
    height: 60px;
    width: 300px;
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 4px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.appstore_icon{
    display: inline-flex;
    align-items: center;
    color: white;
    height: 100%;
    font-size: 1.8em;
    padding: 0 24px;
    background: rgba(0, 0, 0, 0.08);
    position: relative;
    left: 13%;
}

.playstore_icon{
    display: inline-flex;
    align-items: center;
    color: white;
    height: 100%;
    font-size: 1.8em;
    padding: 0 24px;
    background: rgba(0, 0, 0, 0.08);
    position: relative;
    left: 18%;
}

.appstore_txt, 
.playstore_txt{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

/* BOTTOM */

.content_bottom{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
}

.bottom_left{
    font-size: 18px;
    width: 50%;
}

.bottom_left_top{
    display: flex;
}

.bottom_left_top_links{
    text-transform: uppercase;
    text-decoration: none;
    color: #373737;
    font-weight: bold;
}

.vertical_line {
    border-left: 2px solid #2967c4;
    display: block;
    height: 18px;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 5px;
}

.bottom_left_bottom{
    margin-top: 3%;
}

.bottom_left_bottom_text{
    font-weight: bold;
}

.bottom_logo {
    width: 50%;
    position: relative;
    font-size: 46px;
}

.bottom_logo ion-icon{
    float:right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 9px;
}

/* ALL COLORS */

.navbar_logo a:hover,
.home_bottom_links:hover,
.navbar_links ul li a:hover,
.projects_right_button_left:hover,
.projects_right_button_right:hover,
.bottom_left_top_links:hover,
.hamburger_icon_logo:hover
{
    color: #2967c4;
}

.mobile-menu li a:hover{
    color: #1c4179;
    background-color: #e2e3e4;
}

.mobile-menu li a:active{
    color: #1d4075;
    background-color: rgb(212, 212, 212);
}

.about_first_left_button:hover,
.about_second_right_button:hover,
.home_middle_button:hover,
.community_middle_input_button:hover,
.button_appstore:hover,
.button_playstore:hover
{
    background: #245399;
}

.navbar_logo a:active,
.home_bottom_links:active,
.navbar_links ul li a:active,
.projects_right_button_left:active,
.projects_right_button_right:active,
.bottom_left_top_links:active,
.hamburger_icon_logo:active
{
    color: #245399;
}

.about_first_left_button:active,
.about_second_right_button:active,
.home_middle_button:active,
.community_middle_input_button:active,
.button_appstore:active,
.button_playstore:active
{
    background: #1d4075;
}

.about_first_left_header,
.about_second_right_header
{
    color: #2967c4;
}

.about_first_left_button,
.about_second_right_button,
.home_middle_button,
.community_middle_input_button,
.button_appstore,
.button_playstore
{
    background: #2967c4;
}

/* ALL TRANSITIONS */

.navbar_logo a, .navbar_logo a:hover,
.navbar_links ul li a, .navbar_links ul li a:hover,
.home_bottom_links, .home_bottom_links:hover,
.projects_right_button_left, .projects_right_button_left:hover,
.projects_right_button_right, .projects_right_button_right:hover,
.bottom_left_top_links, .bottom_left_top_links:hover,
.mobile-menu li a, .mobile-menu li a:hover,
.hamburger_icon_logo, .hamburger_icon_logo:hover
{
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.navbar_logo a:active,
.navbar_links ul li a:active,
.home_bottom_links:active,
.projects_right_button_left:active,
.projects_right_button_right:active,
.bottom_left_top_links:active,
.mobile-menu li a:active,
.hamburger_icon_logo:active
{
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.home_middle_button, .home_middle_button:hover, 
.about_first_left_button, .about_first_left_button:hover, 
.about_second_right_button, .about_second_right_button:hover,
.community_middle_input_button, .community_middle_input_button:hover,
.button_appstore, .button_appstore:hover, 
.button_playstore, .button_playstore:hover,
.mobile-menu li a, .mobile-menu li a:hover
{
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.home_middle_button:active, 
.about_first_left_button:active,
.about_second_right_button:active,
.projects_right_button_left:active,
.projects_right_button_right:active,
.community_middle_input_button:active,
.button_appstore:active,
.button_playstore:active,
.mobile-menu li a:active
{
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

#hamburger-icon{
    float: right;
    margin: 20px;
    display: none;
}

#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu{
    display: none;
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.mobile-menu li{
    list-style-type: none;
}

.mobile-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #2967c4;;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.hamburger_icon_logo{
    font-size: 46px;
    color: white;
}

/* RESPONSIVE */

@media screen and (max-width: 1440px) 
{
    .home_middle 
    {
        font-size: 44px;
    }
    
    .home_middle span 
    {
        font-size: 20px;
    }

    .about_first_right 
    {
        display: flex;
        align-items: flex-end;
        margin-right: 15%;
    }

    .about_first_right img
    {
        width: 50%;
        position: absolute;
        
    }

    .about_first_left_button
    {
        margin-bottom: 80px;
    }

    .bottom_left 
    {
        font-size: 17px;
    }
}

@media screen and (max-width: 1100px) 
{
    .home_middle 
    {
        font-size: 39px;
    }
    
    .home_middle span 
    {
        font-size: 16px;
    }
    
    .about_first_right 
    {
        display: flex;
        align-items: flex-end;
        margin-right: 15%;
    }
    
    .about_first_right img 
    {
        width: 50%;
        position: absolute;
    }
    
    .about_first_left_button 
    {
        margin-bottom: 80px;
    }
    
    .bottom_left 
    {
        font-size: 15px;
    }

    .projects_right_scrollblock::before 
    {
        width: 50px;
    }
    
    .projects_right_scrollblock::after 
    {
        width: 50px;
    }
}

@media screen and (max-width: 1000px)
{
    .navbar_links ul li a 
    {
        margin-right: 20px;
        margin-left: 65px;
    }

    .home_middle 
    {
        font-size: 36px;
    }
    
    .home_middle span 
    {
        font-size: 15px;
    }
    
    .about_first_right 
    {
        display: flex;
        align-items: flex-end;
        margin-right: 15%;
    }
    
    .about_first_right img 
    {
        width: 50%;
        position: absolute;
    }
    
    .about_first_left_button 
    {
        margin-bottom: 80px;
    }
    
    .bottom_left 
    {
        font-size: 15px;
    }
    
    .projects_right_scrollblock::before 
    {
        width: 50px;
    }
    
    .projects_right_scrollblock::after 
    {
        width: 50px;
    }
}

@media screen and (max-width: 920px) {
    .navbar_links ul li a {
        margin-right: 0px;
        margin-left: 40px;
    }

    .home_middle {
        font-size: 30px;
    }

    .home_middle span {
        font-size: 15px;
    }

    .about_first_right {
        display: none;
    }

    .about_first_left
    {
        width: 100%;
    }

    .about_first_right img {
        width: 50%;
        position: absolute;
    }

    .about_first_left_button {
        margin-bottom: 80px;
    }

    .about_second_left{
        display: flex;
        align-items: flex-end;
    }

    .about_second_left img{
        width: 90%;
    }

    .about_second_right_button{
        margin-bottom: 80px;
    }

    .projects_right_buttons{
        margin-left: 80%;
    }

    .bottom_left {
        font-size: 14px;
    }

    .content_projects{
        flex-flow: column;
        padding-top: 1%;
    }

    .projects_right_buttons{
        margin: 0;
        margin-top: 25px;
    }

    .projects_right{
        margin-left: 0;
    }

    .projects_left_logo {
        margin-top: 10%;
    }

    .download_text_description{
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .navbar_links ul li a {
        margin-right: 0px;
        margin-left: 40px;
        font-size: 15px;
    }
    
    .navbar_logo a {
        font-size: 40px;
    }

    .navbar_logo {
        margin-top: 5px;
    }

    .home_middle {
        font-size: 26px;
    }

    .home_middle span {
        font-size: 15px;
    }

    .about_first_right {
        display: none;
    }

    .about_first_left {
        width: 100%;
    }

    .about_first_right img {
        width: 50%;
        position: absolute;
    }

    .about_first_left_button {
        margin-bottom: 80px;
    }

    .about_second_left {
        display: flex;
        align-items: flex-end;
    }

    .about_second_left img {
        display: none;
    }

    .about_second_right{
        text-align: right;
        width: 100%;
    }

    .about_second_right_button {
        margin-bottom: 80px;
    }

    .projects_right_buttons {
        margin-left: 80%;
    }

    .bottom_left {
        font-size: 14px;
    }

    .content_projects {
        flex-flow: column;
        padding-top: 1%;
    }

    .projects_right_buttons {
        margin: 0;
        margin-top: 25px;
    }

    .projects_right {
        margin-left: 0;
    }

    .projects_left_logo {
        margin-top: 10%;
    }

    .download_text_description {
        font-size: 16px;
    }

    .download_buttons {
        margin-top: 2.5%;
    }
    
    .button_appstore,
    .button_playstore {
        height: 60px;
        width: 250px;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        text-align: left;
    }
    
    .appstore_icon {
        left: 5%;
    }
    
    .playstore_icon {
        left: 10%;
    }

    .community_middle_header{
        font-size: 30px;
    }

    .community_middle_input_field {
        width: 300px;
        height: 55px;
        font-size: 14px;
    }
    
    .community_middle_input_button {
        width: 60px;
        font-size: 24px;
    }
}

@media screen and (max-width: 690px) {
    .navbar_links ul li a {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 15px;
    }

    .navbar_links ul li:nth-child(1) {
        margin-left: 45px;
    }

    .navbar_logo a {
        font-size: 40px;
    }

    .navbar_logo {
        margin-top: 5px;
    }

    .home_middle {
        font-size: 24px;
    }

    .home_middle span {
        font-size: 15px;
    }

    .about_first_right {
        display: none;
    }

    .about_first_left {
        width: 100%;
    }

    .about_first_right img {
        width: 50%;
        position: absolute;
    }

    .about_first_left_button {
        margin-bottom: 80px;
    }

    .about_second_left {
        display: none;
    }

    .about_second_right {
        text-align: right;
        width: 100%;
    }

    .about_second_right_button {
        margin-bottom: 80px;
    }

    .projects_right_buttons {
        margin-left: 80%;
    }

    .bottom_left {
        font-size: 14px;
    }

    .content_projects {
        flex-flow: column;
        padding-top: 1%;
    }

    .projects_right_buttons {
        margin: 0;
        margin-top: 25px;
    }

    .projects_right {
        margin-left: 0;
    }

    .projects_left_logo {
        margin-top: 10%;
    }

    .download_text_description {
        font-size: 16px;
    }

    .download_buttons {
        margin-top: 5%;
        display: flex;
        flex-flow: column;
    }

    .button_appstore,
    .button_playstore {
        height: 60px;
        width: 250px;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 5%;
    }

    .appstore_icon {
        left: 5%;
    }

    .playstore_icon {
        left: 10%;
    }

    .community_middle_header {
        font-size: 24px;
    }

    .community_middle_input_field {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }

    .community_middle_input_button {
        width: 50px;
        font-size: 24px;
    }

    .content_about_first, .about_second_right{
        text-align: center;
    }

    .navbar_logo, .navbar_links{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    .bottom_logo {
        width: 10%;
        position: relative;
        font-size: 46px;
    }
    
    .bottom_logo ion-icon {
        float: right;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 9px;
    }

    .bottom_left {
        font-size: 18px;
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .navbar_links ul li a {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 15px;
    }

    .navbar_links ul li:nth-child(1) {
        margin-left: 45px;
    }

    .navbar_logo a {
        font-size: 40px;
    }

    .navbar_logo {
        margin-top: 5px;
    }

    .home_middle {
        font-size: 24px;
    }

    .home_middle span {
        font-size: 15px;
    }

    .about_first_right {
        display: none;
    }

    .about_first_left {
        width: 100%;
    }

    .about_first_right img {
        width: 50%;
        position: absolute;
    }

    .about_first_left_button {
        margin-bottom: 80px;
    }

    .about_second_left {
        display: none;
    }

    .about_second_right {
        text-align: right;
        width: 100%;
    }

    .about_second_right_button {
        margin-bottom: 80px;
    }

    .projects_right_buttons {
        margin-left: 80%;
    }

    .bottom_left {
        font-size: 16px;
    }

    .content_projects {
        flex-flow: column;
        padding-top: 1%;
    }

    .projects_right_buttons {
        margin: 0;
        margin-top: 25px;
    }

    .projects_right {
        margin-left: 0;
    }

    .projects_left_logo {
        margin-top: 10%;
    }

    .download_text_description {
        font-size: 16px;
    }

    .download_buttons {
        margin-top: 5%;
        display: flex;
        flex-flow: column;
    }

    .button_appstore,
    .button_playstore {
        height: 60px;
        width: 250px;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 5%;
    }

    .appstore_icon {
        left: 5%;
    }

    .playstore_icon {
        left: 10%;
    }

    .community_middle_header {
        font-size: 20px;
    }

    .community_middle_input_field {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }

    .community_middle_input_button {
        width: 50px;
        font-size: 24px;
    }

    .content_about_first,
    .about_second_right {
        text-align: center;
    }

    .navbar_logo,
    .navbar_links {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .bottom_logo {
        width: 10%;
        position: relative;
        font-size: 46px;
    }

    .bottom_logo ion-icon {
        float: right;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 9px;
    }

    .bottom_left {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .navbar_links ul li a {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 15px;
    }

    .navbar_links ul li:nth-child(1) {
        margin-left: 45px;
    }

    .navbar_logo a {
        font-size: 40px;
    }

    .navbar_logo {
        margin-top: 5px;
    }

    .home_middle {
        font-size: 24px;
    }

    .home_middle span {
        font-size: 15px;
    }

    .about_first_right {
        display: none;
    }

    .about_first_left {
        width: 100%;
    }

    .about_first_right img {
        width: 50%;
        position: absolute;
    }

    .about_first_left_button {
        margin-bottom: 80px;
    }

    .about_second_left {
        display: none;
    }

    .about_second_right {
        text-align: right;
        width: 100%;
    }

    .about_second_right_button {
        margin-bottom: 80px;
    }

    .projects_right_buttons {
        margin-left: 80%;
    }

    .bottom_left {
        font-size: 16px;
    }

    .content_projects {
        flex-flow: column;
        padding-top: 1%;
    }

    .projects_right_buttons {
        margin: 0;
        margin-top: 25px;
    }

    .projects_right {
        margin-left: 0;
    }

    .projects_left_logo {
        margin-top: 10%;
    }

    .download_text_description {
        font-size: 16px;
    }

    .download_buttons {
        margin-top: 5%;
        display: flex;
        flex-flow: column;
    }

    .button_appstore,
    .button_playstore {
        height: 60px;
        width: 250px;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 5%;
    }

    .appstore_icon {
        left: 5%;
    }

    .playstore_icon {
        left: 10%;
    }

    .community_middle_header {
        font-size: 16px;
    }

    .community_middle_input_field {
        width: 150px;
        height: 35px;
        font-size: 11px;
    }

    .community_middle_input_button {
        width: 40px;
        font-size: 16px;
    }

    .content_about_first,
    .about_second_right {
        text-align: center;
    }

    .navbar_logo,
    .navbar_links {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .bottom_logo {
        display: none;
    }

    .bottom_logo ion-icon {
        float: right;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 9px;
    }

    .bottom_left {
        font-size: 14px;
        width: 100%;
    }
}

/* THIS IS RESPONSIVE 
@media screen and (max-width: 1024px) {
    .nav-item {
            text-decoration: none;
            font-size: 5px;
            color: white;
            margin: 0 5%;
        }
} */